<html>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Borger Eata'</title>
    
    <head>
    </head>

    <body>
        {{{body}}}
    </body>
    <script>
        // Initialize Button code on document load
        $(function(){

            // Enter da Borger onclick will add a new Borger to the db
            $('#new-borger-button').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/api/borgers',
                    method: 'POST',
                    data: {name: $('#new-borger').val().trim()},
                    success: (results) => {
                        console.log(results);
                        location.reload(true);
                    }
                })
            });

            // Eat da Borger onclick will update the devoured status of borger to true
            $('.devour-borger-button').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/api/borgers/' + $(this).data('id'),
                    method: 'PUT',
                    success: (response) => {
                        console.log('put request processed', response);
                        location.reload(true);
                    }
                });
            });

            // Delete da Borger onclick will remove borgers from DB and sync
            $('.delete-borger-button').on('click', function(e){
                e.preventDefault();
                $.ajax({
                    url: '/api/borgers/' + $(this).data('id'),
                    method: 'DELETE',
                    success: (response) => {
                        console.log('delete request processed', response);
                        location.reload(true);
                    }
                })
            })
        });
    </script>
</html>